<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="toggleSidebar()"><mat-icon>menu</mat-icon></button>
        <div>
            <div class="items d-flex">
                <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" width="40px" alt="">&nbsp;
                <h2 class=""><b>DashBoard</b></h2>&nbsp;&nbsp;
            </div>
        </div>
        
        <div class="icon">
            <button mat-mini-fab><mat-icon id="my-icon">notifications</mat-icon></button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>