<div class="vessel p-3">
    <div class="row mx-auto py-md-2 mt-2">
        <div class="col-md-6 p-1">
            <div class="stat">
                <app-charts></app-charts>
            </div>
        </div>
        <div class="col-md-6 p-1">
            <div class="stat">
            <app-charts2></app-charts2>
        </div>
        </div>
        </div>
        <div class="p-1">
            <div class="row mx-auto py-md-2 stat">
                <div class="col-md-6">
                    <div class="details p-3">
                        <h2>Need this Type of pieCharts</h2>
                        <p style="font-style: italic;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam dolore distinctio, doloremque laudantium quam, repellat, dicta itaque amet minima maiores nihil neque cumque odit non officiis reprehenderit sequi quod. Sapiente!</p>
                        <p style="font-style: italic;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur consequatur facilis ullam totam iusto molestias illo ab tempora atque optio dolorum, repudiandae harum est modi ducimus voluptatem iure eveniet nulla. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore id, consequuntur at quis tempora voluptas? Quae, odit sunt quos in animi excepturi ratione cumque, et voluptates dicta dolorem maxime odio!</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <app-piechart></app-piechart>
                </div>
            </div>
        </div>
    </div>