:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
    width: 340px;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.753), rgba(255, 0, 0, 0.856)), url('https://images.unsplash.com/photo-1589802829985-817e51171b92?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
}
mat-drawer-container{
    height: 100%;
}